* {
    font-family: inherit;
    background-color: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: calc(1em + .33vw);
}

body {
    font-family: Arial, 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    background-color: #fefefe;
    color: #222;
    max-width: 700px;
    margin: auto;
}

ul {
    overflow: hidden;
    padding-left: 2em;
}

*+* {
    margin-top: 2.25rem;
}

br, li+li, body {
    margin-top: 0;
}

p+p {
    margin-top: .75rem;
}

a {
    text-decoration: none;
    border-bottom: 1px solid #007b9c;
    color: inherit;
    outline-offset: 2px;
}

h1, h2, h3, h4 {
    line-height: 1.125;
    max-width: 800px;
}

h2 a, h3 a, h4 a {
    border-bottom: 0;
}

h2 a:hover, h3 a:hover, h4 a:hover {
    border-bottom: 1px solid #007b9c;
}

h1 {
    font-size: 2rem;
    margin: 5% auto;
}

h2 {
    font-size: 1.66rem;
    margin: 5% auto;
}

h3 {
    font-size: 1.25rem;
}

pre {
    overflow-x: auto;
    padding: 1rem;
    border: 1px solid;
}

code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: .85em;
    background-color: transparent;
}

table, td {
    border: 1px solid #333;
}

td {
    padding: 5px 10px;
    text-align: center;
}

thead, tfoot {
    background-color: #333;
    color: #fff;
}

.identifier-column, .identifier-row {
    text-align: left;
}

.identifier-row {
    font-weight: bold;
}

.quote {
    overflow-x: auto;
    padding: 1rem;
    border: 1px solid;
    font-style: italic;
}

.index-column {
    float: left;
    width: 50%;
    margin-bottom: 1rem;
}

.index-column-list {
    margin-left: -1rem;
}

#right-index-column {
    margin-top: 0rem;
}

.index-row {
    margin-top: 1rem;
}

.index-row:after {
    content: '';
    display: table;
    clear: both;
}

.lilist {
    padding-bottom: 1em;
}

.back {
    background: #111;
    border-radius: .33em;
    color: #fefefe;
    display: inline-block;
    font-size: 1.25rem;
    margin: 2rem 0 5rem;
    padding: .4rem .75rem;
    text-decoration: none;
    border: 0;
}

.theme-toggle {
    background: transparent;
    border: none;
    display: block;
    font-size: 2rem;
    margin: 30px 0 0 auto;
    outline: none;
    padding-right: 32px;
    padding-bottom: 5px;
    text-align: right;
    text-decoration: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 20px;
}

.p-final {
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.date {
    margin-top: -1rem;
    margin-bottom: 2rem;
}

details {
    margin: 0;
    line-height: 2;
}

a.nodropdown {
    font-size: 1.33rem;
    line-height: 2;
    margin: 1em;    
}

summary {
    font-size: 1.33rem;
    margin-left: .2rem;
}

details[open] > details {
    margin-left: 2.5em;
    font-size: calc(.75em);
}

details[open] > details > summary {
    font-size: calc(1.33em);
}

details[open] > a {
    margin-left: 3em;
}


/* Makes the index columns stack on top of each other at low screen width */
@media screen and (max-width: 360px) {
    .index-column {
        width: 100%;
    }
}

@media screen and (max-width: 45em) {
    body {
        padding: 25px;
    }
    body a {
        hyphens: auto;
    }
    h1 {
        margin-left: 0;
        max-width: 75%;
    }
    code {
        word-break: break-all;
    }
    .theme-toggle {
        margin-top: 5px;
    }
}

@media print {
    a {
        border: 0;
    }
    pre code {
        white-space: pre-wrap !important;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #252627;
        color: #a9a9b3;
    }
}